nginx/*
!nginx/conf/
nginx/conf/*
!nginx/conf/nginx.conf

**/php-7.1.16/*
!**/php-7.1.16/php.ini

**/php-7.1.16/ext/*
!**/php-7.1.16/ext
!**/php-7.1.16/ext/php_xdebug.dll

**/php/php-7.1.33
**/php/php-7.4.28
**/php/php-8.1.5

_download/
*.zip

.idea/
